@import url('https://fonts.googleapis.com/css?family=Montserrat');

$basic-color: #455060;
$basic-font: 'Montserrat';

body {
    background-color: $basic-color;
    font-family: $basic-font;
    margin-left: 10px;
    padding: 0;
    color: white;
    box-sizing: border-box;

    i {
       font-size: 150px;
       margin: 10px 0 0 10px;;
    }

    #root {
        width: 100%;
        display: flex;
        flex-direction: column;


        input {
            background-color: $basic-color;
            border: 1px solid white;
            height: 20px;
            width: 300px;
            padding-left: 6px;
            margin-bottom: 30px;
            &:focus {
                box-shadow: 0 0 10px rgba(255, 255, 255, 1);
            }
            color: white;
        }

        .search {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin: 35px 0;
        }

        .userList {
            width: 90%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            .userList_user {
                width: 50%;
                margin: 10px 0;

                a {
                    margin: auto 20px;
                    text-decoration: none;
                    color: white;
                    transition: 1s;
                    &:hover {
                        color: #e07d9c;
                        letter-spacing: 1.5px;
                    }
                    &:visited {
                        color: #e07d9c;
                    }
        
                }
            }
        }
    }

    label {
        margin: 0 10px;
    }

}